<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="ellipse" style="color: green;"></ion-icon>
    </ion-buttons>
    <ion-title>
      Timeline
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Inbox
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list #listComp>
    <app-message *ngFor="let post of posts" [post]="post"></app-message>
  </ion-list>

  <section class="stats" *ngIf="desktop; else fab">
    <h3>Total posts: {{stats.globalPostCount.toNumber()}}</h3>
    <h3>Total users: {{stats.globalUserCount?.toNumber()}}</h3>
    <ion-button fill="outline" color="secondary" (click)="writeMessage()">
      <span class="button-text">Write new message</span>
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-button>
  </section>

  <ng-template #fab>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!keyboardVisible">
      <ion-fab-button (click)="writeMessage()" color="secondary" >
        <ion-icon *ngIf="!keyboardVisible" name="add"></ion-icon>
        <ion-icon *ngIf="keyboardVisible" name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-template>

</ion-content>