ion-card {
    padding: 16px;
    display: grid;
    grid-template-columns: 20% 80%;
    min-height: 60px;
    max-width: 560px;
  }
  
  .header {
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  
    img {
      border-radius: 50%;
      cursor: pointer;
    }
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  
    .writer {
      color: white;
      font-size: 1rem;
      padding-bottom: 8px;
      cursor: pointer;
    }
  
    .text {
      align-self: flex-start;
      height: 100%;
      text-align: start;
    }
    
  }