ion-card {
  padding: 16px;
  display: grid;
  grid-template-columns: 20% 80%;
  min-height: 120px;
  max-width: 560px;
}

.header {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  img {
    border-radius: 50%;
    cursor: pointer;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .writer {
    font-size: 1rem;
    color: black;
    padding-bottom: 8px;
    cursor: pointer;
  }

  .text {
    align-self: flex-start;
    height: 100%;
    text-align: start;
  }
  
  .footer {
    width: 100%;
    text-align: end;
    font-size: 0.7rem;
  }

  .button-footer {
    width: 100%;
    transform: translateX(-13px);
    display: grid;
    justify-content: flex-start;
    align-items: center;
    grid-template-columns: 22.5% 22.5% 22.5% 32.5%;
    font-size: 0.8rem;
    text-align: end;

    ion-button {
      span {
        font-size: 0.7rem;
        padding-left: 6px;
        font-weight: lighter;
        color: gray;
      }
    }

  }

}

